#collection
- list⭐
   - indexed
   - ordered
   - mutiable
   - heterogenous
   - duplicate items exists
   - representation `[]`
   - constructoro method list `()`
- tuple
- set
- dict⭐

In [1]:
x=(12,45,56)
print(x)
y=1,3,4,5,6,7
print(y)

(12, 45, 56)
(1, 3, 4, 5, 6, 7)

In [1]:
#defining list in python-

#list of strings
list1 = ["Ayushi","Mayurika","Shambhavi","Saumya","Domsa"]

In [2]:
#lists of numbers
list2 =[1,2,3,4,5,6,7,100]

In [3]:
#mixed data list
list3 =['ravi',90,102,93,84,44,"b",False,5.786]

In [4]:
#nested list
list4 =[[1,2,3],[3,4,6],[34,65,98]]

In [5]:
#accessing list items in python-
list1 =[2,4,6,'a',10,'b',26,'c',20]
print('list1 = ',list1)

list1 =  [2, 4, 6, 'a', 10, 'b', 26, 'c', 20]

In [6]:
#first item-
print ('list1[0] =',list1[0])

list1[0] = 2

In [7]:
#third item-
print ('list1[2] =',list1[2])

list1[2] = 6

In [8]:
#last item-
print ('list1[-1] =',list1[-1])

list1[-1] = 20

In [9]:
#last third item-
print ('list1[-3] =',list1[-3])

list1[-3] = 26

In [10]:
#getting a list slice
l =[10,20,30,40,50,60,70,80,90,100]
slice =l[3:-2]
print(slice)

[40, 50, 60, 70, 80]

In [13]:
slice1 = l[5:]
slice2 = l[5:len(l)]
print(slice1)
print(slice2)

[60, 70, 80, 90, 100]
[60, 70, 80, 90, 100]

In [15]:
#append function-
fruits = []
fruits.append("apple")
fruits.append("banana")
fruits.append("cherry")
fruits.append("grapes")
fruits

['apple', 'banana', 'cherry', 'grapes']

In [16]:
#insert function -
fruits =['apple','banana','cherry','grapes']
fruits.insert(1,"orange")
print (fruits)

['apple', 'orange', 'banana', 'cherry', 'grapes']

In [18]:
#extend function -
fruits =['apple','cherry','gauva']
dry_fruits = ['almond','cashew','walnut']
fruits.extend(dry_fruits)
fruits

['apple', 'cherry', 'gauva', 'almond', 'cashew', 'walnut']

In [19]:
#sort function-
fruits =['apple','cherry','gauva']
fruits.sort()
fruits

['apple', 'cherry', 'gauva']

In [20]:
#remove function-
fruits =['apple','cherry','guava','banana']
fruits.remove('cherry')
fruits

['apple', 'gauva', 'banana']

In [24]:
#pop function-
fruits =['apple','cherry','guava','banana']
fruits.pop(2)
fruits

['apple', 'cherry', 'banana']

In [25]:
#count function-
x=[1,2,3,4,5,6,7,8,9,1,2,3,34,4,5,6,78,]
x.count(1)

2

In [1]:
my_tuple=(1,2,3)
print(my_tuple)

(1, 2, 3)

In [2]:
x=(12,45,56)
print(x)
y=1,6,7,7,2
print(y)

(12, 45, 56)
(1, 6, 7, 7, 2)

In [3]:
#tuple with mixed datatypes
my_tuple =(1,"hello",3.4)
print(my_tuple)

(1, 'hello', 3.4)

In [4]:
#nested tuple
my_tuple=("mouse",[8,4,6],(1,2,3))
print(my_tuple)

('mouse', [8, 4, 6], (1, 2, 3))

In [1]:
#a tuple can also be created without using parentheses
#this is known as tuple packing
my_tuple=3,4.6,"apple"
print(my_tuple)

(3, 4.6, 'apple')

In [5]:
#accessing tuple elements using indexing
my_tuple=('p','e','r','m','i','t')
print(my_tuple[0]) #'p'
print(my_tuple[5]) #'t'

p
t

In [7]:
#nested tuple
n_tuple=("mouse",[8,4,6],(1,2,3))
#nested index
print(n_tuple[0][3]) #'s'
print(n_tuple[1][1]) #4

s
4

In [2]:
#accessing tuple elements using slicing
my_tuple=('e','x','c','a','l','b')

In [8]:
#element 2nd to 4t
#output:('x','c','a')
print(my_tuple[1:4])

('x', 'c', 'a')

In [9]:
#element begining to 2nd
#output:('e','x')
print(my_tuple[:-7])

()

In [3]:
#element 8th to end
#output:('u','r',)
print(my_tuple[7:])

()

In [4]:
#elements beginning to end
print(my_tuple[:])

('e', 'x', 'c', 'a', 'l', 'b')

In [10]:
#concatenation
#output(1,2,3,4,5,6)
print((1,2,3)+(4,5,6))

(1, 2, 3, 4, 5, 6)

In [13]:
#repeat
#output:('repeat','repeat','repeat')
print(("repeat",)*3)

('repeat', 'repeat', 'repeat')

In [6]:
my_tuple = ('a','p','p','l','e',)
print(my_tuple.count('p'))  #output:2
print(my_tuple.index('l')) #output:3

2
3

Set

In [15]:
#set cannot have duplicates
#output:{1,2,3,4,3,2}
my_set={1,2,3,4,3,2}
print(my_set)

{1, 2, 3, 4}

In [16]:
#we can make a set from a list
#output:{1,2,3}
my_set= set([1,2,3,4,3,2])
print(my_set)

{1, 2, 3, 4}

In [1]:
my_set= {1,2,[3,4]}

TypeError: unhashable type: 'list'

In [7]:
#initialize a with set()
a=set()
#check data type of a
print(type(a))

<class 'set'>

In [18]:
#initialise my_set
my_set={1,3}
print(my_set)

{1, 3}

In [19]:
#add an element
#output:{1,2,3}
my_set.add(2)
print(my_set)

{1, 2, 3}

In [9]:
#add multiple elements
#output :{1,2,3,4}
my_set.update([2,3,4])
print(my_set)

NameError: name 'my_set' is not defined

In [20]:
#initialize my_set
my_set={1,2,3,4,6}
print(my_set)

{1, 2, 3, 4, 6}

In [21]:
#discard an element
#output:{1,2,3,4,5}
my_set.discard(4)
print(my_set)

{1, 2, 3, 6}

In [22]:
A={1,2,3,4,5}
b={4,5,6,7,8}

In [24]:
#use |operator
#output:{1,2,3,4,5,6,7,8}
print(A|b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
#

In [25]:
A={1,2,3,4,5}
B={4,5,6,7,8}

In [26]:
#use & operator
#output:{4,5}
print(A&B)

{4, 5}

In [27]:
A.intersection (B)
#{4,5}

{4, 5}

In [28]:
#use-operator on A
#output:{1,2,3}
print(A-b)

{1, 2, 3}

In [ ]:
#use-operator on B

In [29]:
#use^operator
#output:{1,2,3,6,7,8} 
print(A^B)

{1, 2, 3, 6, 7, 8}

Dictionary

In [30]:
#dictionary with integer key
my_dict={1:'apple',2:'ball'}

In [2]:
#get vs[] for retrieving elements
my_dict ={'name':'jack','age':26}

In [3]:
#output:jack
print(my_dict['name'])

jack

In [3]:
#output:26
print(my_dict.get('age'))

NameError: name 'my_dict' is not defined

In [4]:
#trying to access keys which 
#doesn't exist throw error
print(my_dict['address'])

NameError: name 'my_dict' is not defined

In [5]:
#use get()for key extraction
print(my_dict.get('address'))

NameError: name 'my_dict' is not defined

In [8]:
#update value
my_dict=['age']=27

SyntaxError: cannot assign to literal (3791758688.py, line 2)

In [9]:
#add item
my_dict['address']='downtown'

NameError: name 'my_dict' is not defined